﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.centerHeaderText th {
    text-align: center;
}

.radiobtnwidth input {
    height: 10px;
    width: 25px;
}

.radiobtnwidth select {
    height: 10px;
    width: 25px;
}

.radiobtnwidth textarea {
    height: 10px;
    width: 25px;
}

.AddButtonstyle {
    border-color: Black;
    Border-Style: Solid;
    Border-Width: 1px;
    padding: 3px
}