*{
    box-sizing: border-box;
}

.sideView1,.sideView2{
    display: inline ;
    float: left;
    width:100%;
    box-sizing: border-box;
    padding:3px;
}

@media screen and (min-width: 800px) {
    .sideView2 {
        width:64%;
    }
    .sideView1 {
        width:36%;
    }
}

body{
    background-color: gainsboro;
}

.divContainer {
    border:1px solid dodgerblue;
    min-height: 470px;
}

.tableSearchDiv {
    position: relative;
    margin-bottom: 20px;
}

.searchbar{
    text-align: left;
    margin-left: 5%;
}

.search-field{
    border-color:lightgrey;  
    padding:3px;
}

.tableFixHead{
    overflow: auto;
    height: 425px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-right:5%;
    margin-left: 5%;
    width: 90%;
    background-color: rgb(233, 243, 243);   
}

table,th,td{
    border: 1px solid black;
}

table,th{
    border-radius: 6px;
}

th,
td {
   padding:3px;
}

th {
    background: #eee;
}

tr:nth-child(even) {
    background-color:lightgrey;
}

td{
    text-align: center;
}

form{
    margin: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
}

.required{
    color: red;
    font-size: 13px;
}

#ratingnone:hover, 
#submitbtn:hover, 
.updatebtn:hover, 
.deletebtn:hover, 
.cancelbtn:hover{
    cursor: pointer;
}

.submitbtn{
    background-color: lightgreen;
    padding:5px;
    font-size: 14px;
    border-radius: 3px; 
    border: none; 
    transition: all 0.3s;
}

.cancelbtn{
    background-color: rgb(238, 20, 20);
    padding:5px;
    font-size: 14px;
    border-radius: 3px; 
    border: none; 
    transition: all 0.3s;
    color:white;
    margin-left: 10px;
}

.updatebtn{
    background-color: rgb(75, 157, 250);
    padding:5px;
    font-size: 14px;
    border-radius: 3px; 
    border: none; 
    transition: all 0.3s;
    color: white;
}

.deletebtn{
    background-color: rgb(238, 20, 20);
    padding:5px;
    font-size: 14px;
    border-radius: 3px; 
    border: none; 
    transition: all 0.3s;
    color:white;
}

form input[type=text] {
    border: 2px ;
    border-radius: 4px;
    min-width: 100%;
    min-height: 15px;
    padding:5px;
}

form input[type='number']{
    border: 2px ;
    border-radius: 4px;
    min-width: 100%;
    padding:5px;
}

form input[type='file']{
    padding-top: 3px;
}

form label{
    font-size: 15px;
}

.ratingBtn{
padding: 3px;
}

.sortBtn{
    width:15px;
    height:15px;
    padding-top: 3px;
}

.img-preview{
    width:60px;
    height:60px;
}
.img-previewEmpty{
    width:0px;
    height:0px;
}