﻿@model IEnumerable<TouristPlace.Models.Place>

@{
    ViewBag.Title = "Tourist Place List";
}
<br>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Places", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    <p>
        <input type="text" name="sortOrder" value="@TempData.Peek("CurrentSortOrder")" hidden>
        <input type="text" name="searchString" placeholder="Search by Place Name" value="@TempData.Peek("CurrentSearchString")">
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.ActionLink("Rating", "Index", new { sortOrder = TempData.Peek("RatingSortParm"), searchString = TempData.Peek("CurrentSearchString") })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var imagePath = item.ImagePath;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <img src="@Url.Content(imagePath)" width="50" height="50" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@{
    if(TempData.Peek("CurrentSearchString")!=null || TempData.Peek("CurrentSearchString")as string != "")
    {
    <div>
        @Html.ActionLink("Back to Full List", "Index")
    </div>
    }
}